.login-container
  .login-header.login-caret
    .login-content{:style => "width:100%;"}
      %a.logo{:href => "http://localhost/cdn/"}
        = image_tag current_school_detail.logo.url
      %p.description
      %h2{:style => "color:#cacaca; font-weight:100;"}
       
      %p
      / progress bar indicator
      .login-progressbar-indicator
        %h3 0%
        %span logging in...
  .login-progressbar
    %div
  .login-form
    .login-content
      .form-login-error
        %h3 Invalid login
        %p Please enter correct email and password!
      = form_for :user, url: login_users_path, id: 'form_login' do |form|
        .form-group
          .input-group
            .input-group-addon
              %i.entypo-user
            = form.text_field :username, id: 'email', class: 'form-control'
            
        .form-group
          .input-group
            .input-group-addon
              %i.entypo-key
            = form.password_field :password, id: 'password', class: 'form-control'
            
        .form-group
          = submit_tag t('login'), class: 'btn btn-primary btn-block btn-login'
      .login-bottom-links
        = link_to t('forgot_password'), controller: :users, action: :forgot_password
        
